<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </script>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div class="center" ng-app='twitterApp'>
        <div ng-controller='firstController' class='container-fluid'>
            {{ greeting }}
            <form ng-hide="startingCollapse">
                <input ng-model="username" type="text" id="userLogin" class="form-control" placeholder="Username or email">
                <input type="button" ng-click="onLogin()" value="Login" class="btn btn-success" />
            </form>

            <table ng-hide="isCollapsed" class="table table-striped">
                <thead>
                    <th scope="col">Tweet</th>
                    <th scope="col">User</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </thead>
                <tbody id='tweets'>
                    <tr ng-repeat="tweet in tweets">
                        <td> {{tweet.tweetContent}} </td>
                        <td> {{tweet.user}} </td>
                        <td> {{tweet.date | date: 'medium'}} </td>
                        <td ng-if="username === tweet.user">
                            <button type="button" ng-click="editTweet()" class="btn btn-warning">Edit</button>
                            <button type="button" ng-click="deleteTweet()" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <form ng-hide="collapsed2" >
                <textarea ng-model= "tweetContent" style="margin-top: 10px;" class="form-control" id="tweetsBody"
                    rows="8"></textarea>
                <button ng-hide= "collapsed2" ng-click="createTweet()" style="margin-top: 10px;" id="create"
                    type="button"  class="btn btn-success">Submit Tweet</button>
            </form>

        </div>


    </div>


</body>

</html>