h1 {
    margin-left: 200px;
    

}
div{
    color:purple;
    font:100px;
}

ul {
    background-color: green;
  
}

p{
    background-color:burlywood;
}

body {
    background-color: lavender;
}
@media screen and (max-width:992px) {
    body {
        background-color: dimgray;
    }
}


